<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div>
        <header>
            <h1>
                <a href="/">The Tech Blog</a>
            </h1>
            <nav>
                <a id='homepage' href='/'>home</a>
                {{#if loggedIn}}
                <a id='dashboard' href='/dashboard/{{id}}'> dashboard</a>
                <a id='logout' href='/logout'>logout</a>
                {{else}}
                <a id='login' href='/login'>login</a>
                {{/if}}
                
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Yeehaw! Thanks for stopping by The Tech Blog
        </footer>
    </div>
    
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>