<article>
    <a href='/dashboard/{{id}}'>return to dashboard</a>
    <h2>Edit Post:</h2>
    <form id='edit-post-form'>
        <div>
            <input name='post-title' type='text' value="{{post.title}}" />
            <span>{{post.post_url}}</span>
        </div>
        <div>
        {{post.text_content}}
        </div>
        <button type="submit" id='edit-post'>Save</button>
        <button type="button" id='delete-post-btn'>Delete post</button>
    </form>
    
</article>

<script src="/js/edit-post.js"></script>