<div id='login-view'>
    <form id='login-form'>
        <div>
            <label for='username-login'>username:</label>
            <input type="text" id="username-login" />
        </div>

        <div>
            <label for='password-login'>password:</label>
            <input type="text" id="password-login" />
        </div>

        <div>
            <button type="submit">login</button>
        </div>
    </form>

    <button id='signup'>Sign up instead</button>
    
</div>

<script src="/js/login.js"></script>